<div ng-if='fCtrl.display[0]'>
    <h1>Un </h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima totam hic, voluptates magnam! Repellendus asperiores, similique
    cupiditate iure numquam, accusamus! Officia voluptas distinctio, ad consequuntur corporis eligendi quasi consequatur
    doloremque!
</div>

<!--<input type="text" ng-model='texte'></input> <br>
<input type="text" ng-model='syb'></input> <br> {{ ::iscCtrl.obj | concat | reverse2 | exclamation:syb:1 }} <br> {{ texte
| concat | reverse2 | exclamation:syb:1 }} <br>



<button class='btn-lg btn-success' ng-mouseenter='fCtrl.byebye()' ng-style="{'top':fCtrl.posX , 'left':fCtrl.posY }" style="position: absolute"
    href="#">Click Me </button>-->

<div class="table-responsive">
    <table class="table" >
        <thead>
            <tr>
               
                <th ng-click="sortBy='name';reverse=!reverse"> Name </th>
        
                <th ng-click="sortBy='email';reverse=!reverse"> Email </th>
                <th ng-click="sortBy='bio';reverse=!reverse"> Biographie </th>
            </tr>

        </thead>
        <tbody >
           <!-- <tr ng-repeat="user in iscCtrl.obj  | orderBy:sortBy:reverse | limitTo:size track by $index" ng-click="iscCtrl.edit(user)">
                <td> {{user.name}} </td> <td> {{user.email}} </td> <td> {{user.bio}} </td>
            </tr>-->
             <tr ng-repeat="user in iscCtrl.obj track by $index" >
                <td> {{user.name}} </td> <td> {{user.email}} </td> <td> {{user.bio}} </td> <td>  <button class="btn" ng-click=iscCtrl.edit(user)> Edit </button> <button class="btn" ng-click=iscCtrl.delete(user)> X </button> </td>
            </tr>
        </tbody>
        <!--<tfoot>
            <tr>
                <td> <button class="btn" ng-click="iscCtrl.cut(3)"> Afficher 3 </button> </td>
                <td> <button class="btn" ng-click="iscCtrl.cut(4)"> Afficher 4 </button> </td>
                <td> <button class="btn" ng-click="iscCtrl.cut(all)"> Afficher tout </button> </td>
            </tr>
            <tr>
                <td> <button class="btn" ng-click="size = 3 "> Afficher 3 </button> </td>
                <td> <button class="btn" ng-click="size = 4"> Afficher 4 </button> </td>
                <td> <button class="btn" ng-click="size = 5"> Afficher 5 </button> </td>
            </tr>
        </tfoot>-->
    </table>
</div>

<form name="userForm" novalidate ng-submit="iscCtrl.save(userForm)">

    <div class="form-group" ng-class="{'has-error':userForm.name.$invalid}">
        <label for="name">Nom</label> <br>
        <input id="name" type="text" required name="name" ng-model="iscCtrl.user.name" class="form-control" ng-model-options="{ updateOn : 'blur' }">
        <p class="text-danger" ng-if="userForm.name.$invalid && userForm.name.$touched"  >Error </p>
    </div>
    <div class="form-group">
        <label for="email">Email</label> <br>
        <input id="email" type="email" name="email" ng-model="iscCtrl.user.email" class="form-control">
    </div>

    <div class="form-group" ng-class="{'has-error':userForm.bio.$invalid}" >
        <label for="textArea">Biographie</label> <br>
        <textarea id="textArea" type="text" name="bio" ng-minlength="10" ng-model="iscCtrl.user.bio" class="form-control"> </textarea>
            <p class="text-danger" ng-if="userForm.bio.$invalid && userForm.bio.$touched">Au moins 10 Caractères </p>
    </div>

    <button ng-disable="userForm.$invalid" type="submit" class="btn btn-primary"> Enregistrer </button>

    <pre>
        {{iscCtrl.user | json }}
    </pre>

</form>